<html lang="en">
Приветствуем, <p style="color: aqua">${name}!</p>
Добро пожаловать, для того, чтобы подтвердить ваш аккаунт, необходимо пройти по
<br>
<a href="${confirmLink}">ссылке</a>

</html>



