<!doctype html>
<html lang="en">
<head>
    <title>Title</title>
</head>
<script>
    function addCar(color, model) {
        let body = {
            "color": color,
            "model": model
        };

        let request = new XMLHttpRequest();

        request.open('POST', '/cars', false);
        request.setRequestHeader("Content-Type", "application/json");
        request.send(JSON.stringify(body));

        if (request.status !== 201) {
            alert("Ошибка!")
        } else {
            let html = '<tr>' +
                '<th>Color</th>' +
                '<th>Model</th>' +
                '</tr>';


            let response = JSON.parse(request.response);

            for (let i = 0; i < response.length; i++) {
                html += '<tr>';
                html += '<td>' + response[i]['color'] + '</td>';
                html += '<td>' + response[i]['model'] + '</td>';
                html += '</tr>'
            }

            document.getElementById('car_table').innerHTML = html;
        }

    }
</script>
<body>
<h1>Cars page</h1>
<div>
    <label for="color">Color:</label>
    <input id="color" name="color" placeholder="Example: Red"/>
    <label for="model">Model:</label>
    <input id="model" name="model" placeholder="Example: KIA">
    <button onclick="addCar(
        document.getElementById('color').value,
        document.getElementById('model').value)">Add
    </button>
</div>
<div>
    <table id="car_table">

    </table>
</div>
</body>
</html>
