<h1>Google</h1>
<p>Введите текст для поиска и получите нужный результат!</p>
<br>
<form action="http://google.com/search">
	<label for="search">Тут надо вводить запрос:</label>
	<input id="search" type="text" name="q" placeholder="Введите поисковый запрос">
	<input type="submit" name="" value="ПОИСК">
</form>